In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
%load_ext autoreload
%autoreload 2

In [7]:
from beginners_newbies import *

In [8]:
path = os.path.join('data', 'beginner.csv')
df = pd.read_csv(path)
df

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,REGION,STATEFIP,...,BPL,EMPSTAT,OCC,UHRSWORKT,WKSTAT,JOBCERT,EDUC,EDDIPGED,INCWAGE,OINCWAGE
0,2015,16566,3,NaN,0,1.0,NaN,1671.32,12,42,...,9900,10,1910,50,11,NaN,111,NaN,100000.0,0.0
1,2020,49554,6,1930.4505,20200504991400,NaN,NaN,NaN,33,40,...,9900,0,0,999,99,99.0,1,99.0,NaN,NaN
2,2019,94327,3,NaN,0,1.0,NaN,433.89,42,15,...,50040,36,0,999,99,NaN,73,NaN,0.0,0.0
3,2011,14553,3,NaN,20091201475800,1.0,NaN,2996.70,12,36,...,9900,36,0,999,99,NaN,73,NaN,0.0,0.0
4,2018,31356,3,NaN,20170102597500,1.0,NaN,1719.16,22,20,...,9900,34,0,999,99,NaN,81,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54732,2020,41349,10,766.1293,20191004211300,NaN,NaN,NaN,41,35,...,9900,36,0,999,99,99.0,111,99.0,NaN,NaN
54733,2011,76658,3,NaN,20100300901100,1.0,NaN,1477.03,41,8,...,9900,36,0,999,99,NaN,81,NaN,3600.0,0.0
54734,2021,65040,11,873.0294,20201006551800,NaN,NaN,NaN,31,54,...,9900,0,0,999,99,99.0,1,99.0,NaN,NaN
54735,2020,57273,12,4327.6454,20201005723900,NaN,NaN,NaN,33,48,...,9900,21,5320,999,60,99.0,73,1.0,NaN,NaN
54736,2017,94654,3,NaN,0,1.0,NaN,570.48,42,15,...,9900,0,0,999,99,NaN,1,NaN,99999999.0,99999999.0

1